{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "lodash",
    "inline-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "emotion"
  ]
}
